body {
  background-color:black;
  font-family:arial;
  color:white}
h1{
  color:grey;
  font-family:verdana; 
  font-size: 20px
  }
.maindiv {
    background-color:white;
    color:black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    align:center;
    
}
label { 
  display: inline-block; 
  width: 100px;
 }

.da {
  padding:0px 10px;
}

div {
  padding-top:10px
}

input {
  width:100px
}

.hlyel {
  background-color: yellow;
}
